#main {
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

.cs-header-brand {
    margin-top: -10px;
    width: 40px;
}

.cs-book-thumbnail {
    width: 100px;
}

.cs-show-book-wrapper {
    position: relative;
}

.cs-show-book {
    width: 200px;
}

.cs-book-edit {
    border: 2px solid lightskyblue;
    border-radius: 20px;
    color: lightslategray;
    position: absolute;
    padding: 7px;
    right: 5px;
    font-size: 20px;
}
