{{ form_start(bookForm) }}
    {{ form_widget(bookForm) }}

    <button type="submit" class="btn btn-primary" formnovalidate>Save</button>
    <a href="{{ url("show_book", {'id': id}) }}" class="btn btn-danger">Cancel</a>
{{ form_end(bookForm) }}
